<header class="d-flex flex-wrap align-items-center justify-content-center justify-content-between py-2 mb-4 px-4 border-bottom">
    <div class="d-flex align-items-center col-3 mb-0 px-2">
        <a href="/" class="text-dark text-decoration-none navbar-brand">
            MyTranscripts
        </a>
    </div>

    <ul class="nav col-auto justify-content-center">
        <li>
            <a class="nav-link px-2 link-dark mt-1 mx-2" href="https://docs.microsoft.com/aspnet/" target="_blank">About</a>
        </li>
        <li>
            <LoginDisplay />
        </li>
    </ul>
</header>
