@inherits LayoutComponentBase

<PageTitle>MyTranscripts</PageTitle>

<div class="page">
    <main>
        <Header />

        <article class="content px-4">
            @Body
        </article>
    </main>
</div>
