@using Rigutins.MyTranscripts.Server.Data;

@if (Transcripts.Count() == 0)
{
    <div class="row">
        <div class="col-12">
            <p class="mb-4">
                <i>You have no transcripts yet. Click the button below to add a new one.</i>
            </p>
        </div>
    </div>
}
else
{
    <div class="row">
        @foreach (var transcript in Transcripts)
        {
            <div class="col-xl-3 col-sm-6 mb-4">
                <TranscriptCard Transcript="transcript" OnRemove="OnRemoveTranscript" OnSave="OnSaveTranscript" OnDelete="OnDeleteTranscript" />
            </div>
        }
    </div>
}

@code {
    [Parameter]
    public IEnumerable<Transcript> Transcripts { get; set; } = Enumerable.Empty<Transcript>();

    [Parameter]
    public Action<Transcript>? OnSaveTranscript { get; set; }

    [Parameter]
    public Action<Transcript>? OnRemoveTranscript { get; set; }

    [Parameter]
    public Action<Transcript>? OnDeleteTranscript { get; set; }
}
